<!-- File name: footer.ejs -->
<!-- Author's name: Pui In Kwok, Mo Zou, Yang Li -->
<!-- Web site name: final project -->
<!-- File description: This is the header - nav bar setting -->

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Survey Cans</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<!-- create a nav bar, set the bar style and color -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-home fa-fw"></i>Home page</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- set it to the right side-->
        <ul class="nav navbar-nav navbar-right">
            <% if(title == "Survey list" ) { %>
              <li class="active">
                <% } else { %>
              <li>
                <% } %>
                  <a href="/survey"><i class="fa fa-book fa-fw"></i> Survey list</a></li>
            <% if (username) { %>
            <% for (var i = 0; i < user.length; i++){ %>
              <% if(user[i].username == username){ %>
              <% if(title == "Edit User Info" ) { %>
                
                        <li class="active">
                          <% } else { %>
                        <li>
                          <% } %>
                          <a href="/user/<%= user[i]._id %>"><i class="glyphicon glyphicon-user"></i> 
                          Welcome,<%= username %></a></li>
                      <% } %>
                    <% } %>
                <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            <% } else { %>
              <% if(title == "Register" ) { %>
                <li class="active">
                  <% } else { %>
                <li>
                  <% } %>
                    <a href="/register"><i class="fa fa-anchor fa-fw"></i> Register</a></li>
              <% if(title == "Login" ) { %>
                <li class="active">
                  <% } else { %>
                <li>
                  <% } %>
                  <a href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
           <% } %>
        </ul>
      </div>
    </div>
  </nav>