<!-- include header -->
<% include partials/header.ejs %>

<!-- display content-->
<main class="container">
     
    <h1>Hey, do u want to check out our final project?</h1>
   
      <h3><img class="img-thumbnail" src="/images/logo.png"/>Pui In Kwok & Mo Zou & Yang Li</h3>
     <div class="img"><img class="img-thumbnail" src="/images/dong.gif"/></div>
     <!-- gif reference http://sukidayo0329.blogspot.ca/2015/03/gif.html -->
</main>
<!-- include boot -->
<% include partials/boot.ejs %>
<!-- include footer -->
<% include partials/footer.ejs %>
