<!-- File name: edit.ejs -->
<!-- Author's name: Pui In Kwok, Mo Zou, Yang Li -->
<!-- Web site name: final project -->
<!-- File description: This is edit user info page -->

<!-- include header -->
<% include ../partials/header.ejs %>

<main class="container">
    <h1><%= title %></h1>
    <!-- set the size -->
    <div class="col-sm-4">
        <form method="post">
            <div class="bg-default">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input name="username" type="text" class="form-control" required value="<%= username %>" readonly />
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">Email: </label>
                    <input name="email" type="email" class="form-control" required value="<%= user.email %>" autofocus />
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password: *</label>
                    <input name="password" type="password" class="form-control" required />
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-success" title="Update">
                        <i class="fa fa-pencil-square-o"></i> Update</button>
                    <a href="/survey" title="Cancel"  class="btn btn-default">
                        <i class="fa fa-undo"></i>  Cancel
                    </a>
                </fieldset>
            </div>
        </form>
    </div>
</main>
<% include ../partials/footer.ejs %>